---
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
import Image from "astro/components/Image.astro";
import celluliteBG from "@/images/cellulite-bg.webp";
import CustomSeparator from "@/components/CustomSeparator.astro";
import Card from "@/components/Card.astro";
import GradientSection from "@/components/GradientSection.astro";
import ImageCard from "@/components/ImageCard.astro";
import cellulite from "@/images/cellulite.webp";
import lipomassage from "@/images/lipomassage.webp";
import raffermissementTempsure from "@/images/raffermissement-tempsure.webp";
import massage from "@/images/massage.webp";
import sauna from "@/images/sauna.webp";
import PageBackground from "@/components/PageBackground.astro";
---

<Layout
    language="fr"
    title="Cellulite | Clinique Idyllium, Vaudreuil"
    description="Clinique Idyllium | Injections Botox Fillers | Vaudreuil-Dorion"
    keywords="Clinique, Idyllium, esthétique médicale, rajeunissement, raffermissement cutané"
    currentHref="/preoccupation/cellulite"
    alternateHref="/en/concern/cellulite"
>
    <main>
        <PageBackground
            src={celluliteBG.src}
            section="Préoccupation"
            title="Cellulite"
        />
        <div class="p-5 md:p-8 lg:p-12 max-w-9xl container">
            <div class="text-center p-5 md:p-8 lg:p-12 max-w-9xl container">
                <h2 class="uppercase font-black py-5">
                    La cellulite, qu’est-ce que c’est?
                </h2>
                <p class="text-muted-foreground">
                    <span
                        >La cellulite, aussi appelée “peau d’orange”, est une
                        condition très répandue, surtout chez les femmes, mais
                        qu’est-ce que c’est?
                    </span>
                    <span class="block"
                        >On la voit apparaître chez 80% des femmes de 20 ans et
                        plus, bien sûr les hommes peuvent en avoir aussi, mais
                        95% des cas de cellulite sont chez les femmes. Souvent
                        elle fait apparition à la puberté et généralement sur
                        l’arrière des cuisses, sur le ventre sur le haut des
                        bras et sur les fesses. De plus, malgré ce qu’on entend
                        souvent, la cellulite n’est pas nécessairement synonyme
                        de surpoids. Certaines femmes avec un poid plus élevé
                        n’en ont pas, alors que des femmes plus minces ou
                        sportives en ont.
                    </span>
                    <span class="block"
                        >La couche sous-cutanée contient des cellules
                        graisseuses - adipocytes. Les fibres qui relient la peau
                        aux tissus profonds forment des cellules qui contiennent
                        des accumulations de graisse. Lorsque les cellules
                        graisseuses augmentent en taille, ces «compartiments»
                        forment des renflements à la surface de la peau. C’est
                        alors que survient cette “peau d’orange”. La cellulite
                        est une combinaison de dépôts de graisse, de fluides et
                        de “déchets” répartis inégalement dans les couches sous
                        la peau.
                    </span>
                    <span class="block"
                        >Considérée comme un phénomène physiologique normal, la
                        cellulite est sans conséquence pour la santé.
                    </span>
                </p>
            </div>

            <CustomSeparator />

            <h2 class="uppercase font-black py-5 text-center">
                Qu’est-ce qui peut causer la cellulite?
            </h2>
            <div
                class="grid grid-cols-1 lg:grid-cols-3 gap-12 py-28 text-white text-center"
            >
                <Card
                    title=""
                    description="Il existe plusieurs types de cellulite, donc il y a de nombreux facteurs. La plupart du temps cette condition est causée par les gènes, donc une prédisposition, et les variations hormonales."
                />
                <Card
                    title=""
                    description="Il faut aussi prendre en considération les différences morphologiques des femmes et des hommes. À cause de la différence entre les tissus sous-cutanés, généralement, la peau d’une femme est plus mince que celle d’un homme, ce qui rend tout ce qui se passe sous la peau plus visible, et le pourcentage de gras est plus élevé chez la femme que chez l’homme, ce qui laisse plus de place aux irrégularités cutanées."
                />
                <Card
                    title=""
                    description="Finalement, une mauvaise circulation sanguine, une circulation lymphatique lente, la rétention de fluides, une accumulation de déchets toxiques, le surplus de poids, une mauvaise alimentation, un manque d’activité physique, le stress, le tabagisme et l'alcool, etc. sont d’autres facteurs influençant la formation de cellulite."
                />
            </div>
            <CustomSeparator />

            <div class="grid grid-cols-1 md:grid-cols-2 h-full gap-10">
                <div class="flex flex-col justify-center p-3">
                    <h2 class="uppercase font-black py-2">
                        Comment peut-on prévenir la cellulite?
                    </h2>
                    <p class="text-muted-foreground">
                        <span>
                            Comme mentionné auparavant, il n’est pas toujours
                            possible de prévenir la cellulite, car il y a des
                            facteurs hors de notre contrôle, mais il est
                            possible de la minimiser.
                        </span>
                        <span class="block"
                            >Pour commencer, de saines habitudes de vie
                            influencent l'intensité de la dite “peau d’orange”.
                            Il est donc important d’avoir une alimentation
                            saine, de faire régulièrement de l’activité
                            physique, de maintenir un poids santé, de limiter
                            les aliments riches en sel, de boire beaucoup d’eau,
                            de consommer de l’alcool avec modération, de ne pas
                            fumer, etc.
                        </span>
                        <span class="block"
                            >Il faut aussi favoriser une bonne circulation
                            sanguine et lymphatique, donc éviter de porter des
                            vêtements trop serrés, éviter les talons hauts,
                            varier votre posture; ne pas rester trop longtemps
                            dans la même position assise ou debout, éviter la
                            chaleur et plein d’autres.
                        </span>
                    </p>
                </div>
                <div class="flex flex-row justify-center items-center">
                    <div class="relative inline-block">
                        <div class="relative">
                            <div
                                class="absolute inset-0 transform translate-x-3 translate-y-3 bg-[#EBD099]"
                            >
                            </div>
                            <Image
                                class="relative object-contain"
                                src={cellulite}
                                alt="cellulite"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <GradientSection
            title="Vous souffrez de la cellulite?"
            description="La Clinique Idyllium vous propose différents traitements contre taches pigmentaires. Réservez une consultation gratuite avec nos spécialistes pour vous trouver un plan de traitement efficace adapté à votre peau."
            buttonText="Réservez une consultation"
            href="#"
        />

        <div class="p-5 md:p-8 lg:p-12 max-w-9xl container">
            <h1 class="text-center uppercase my-5">
                Vous souffrez de la cellulite?
            </h1>
            <h2 class="uppercase text-center">Nos solutions</h2>
            <div
                class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 py-28"
            >
                <div>
                    <a href="#">
                        <ImageCard
                            src={lipomassage}
                            alt=""
                            title="Lipomassage - Endermologie Corps"
                        />
                    </a>
                    <p class="text-muted-foreground">
                        Sculptez et modelez votre corps à la perfection
                    </p>
                </div>

                <div>
                    <a href="#">
                        <ImageCard
                            src={raffermissementTempsure}
                            alt=""
                            title="Raffermissement de la peau avec TempSure™ Envi"
                        />
                    </a>
                    <p class="text-muted-foreground">
                        Lifting du visage et du corps non chirurgical
                    </p>
                </div>

                <div>
                    <a href="#">
                        <ImageCard
                            src={massage}
                            alt=""
                            title="Massage et drainage"
                        />
                    </a>
                    <p class="text-muted-foreground">
                        Un système immunitaire renforcé
                    </p>
                </div>

                <div>
                    <a href="#">
                        <ImageCard
                            src={sauna}
                            alt=""
                            title="Sauna infrarouge"
                        />
                    </a>
                    <p class="text-muted-foreground">
                        Stimulez le métabolisme et le système immunitaire
                    </p>
                </div>
            </div>
        </div>
    </main>
</Layout>
