---
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
import Image from "astro/components/Image.astro";
import medecins from "@/images/medecins.webp";
import medecins3 from "@/images/medecins3.webp";
import vitalie from "@/images/vitalie.webp";
import tatiana from "@/images/tatiana.webp";
import education1 from "@/images/education1.png";
import education2 from "@/images/education2.png";
import education3 from "@/images/education3.png";
import education4 from "@/images/education4.png";
import education5 from "@/images/education5.png";
import education6 from "@/images/education6.png";
import CustomSeparator from "@/components/CustomSeparator.astro";
import Button from "@/components/Button.astro";
import ImageBackground from "@/components/ImageBackground.astro";
import PageBackground2 from "@/components/PageBackground2.astro";
---

<Layout
    language="fr"
    title="Nos medecins | Clinique Idyllium, Vaudreuil"
    description="Clinique Idyllium | Injections Botox Fillers | Vaudreuil-Dorion"
    keywords="Clinique, Idyllium, esthétique médicale, rajeunissement, raffermissement cutané"
    currentHref="/nos-medecins"
    alternateHref="/en/our-doctors"
>
    <main>
        <PageBackground2
            src={medecins3.src}
            section="Nos medecins"
            title="Dr Vitalie Sirbu et Dre Tatiana Sirbu"
        />
        <div class="p-5 md:p-8 lg:p-12 !py-16 max-w-9xl container">
            <div class="container mx-auto px-4 py-8">
                <div class="grid lg:grid-cols-2 md:grid-cols-[1fr_1fr]">
                    <div
                        class="flex flex-row justify-center items-center lg:row-span-2 md:mr-10 mb-16 lg:mb-0"
                    >
                        <div class="relative inline-block">
                            <div class="relative">
                                <div
                                    class="absolute inset-0 transform translate-x-3 translate-y-3 bg-[#EBD099]"
                                >
                                </div>
                                <Image
                                    class="relative object-contain w-[650px] bg-border"
                                    src={medecins}
                                    alt="medecins"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col justify-center">
                        <p class="text-muted-foreground">
                            <span
                                >Nos médecins, Drs Vitalie et Tatiana Sirbu, ont
                                passé les 20 dernières années de leur carrière à
                                perfectionner leur approche pour les traitements
                                médico-esthétiques.
                            </span>
                            <span class="block"
                                >En ayant fait leurs études en médecine d’abord
                                en Europe et par la suite ici au Canada et en
                                travaillant dans le domaine de l’esthétique à
                                ces deux endroits, ils ont un grand bagage de
                                connaissances.
                            </span>
                        </p>
                    </div>
                    <div
                        class="flex flex-col justify-center md:col-span-2 lg:col-span-1"
                    >
                        <p class="text-muted-foreground">
                            <span
                                >Après s’être formés dans la sphère de la
                                médecine esthétique en Moldavie, en Russie, à
                                Monaco et en France, les Drs Sirbu veulent
                                maintenant amener une nouvelle approche à
                                l’esthétique à leurs clients ici, en Montérégie,
                                QC.
                            </span>
                            <span class="block"
                                >En ayant les connaissances de ces deux mondes,
                                Vitalie et Tatiana ont décidé de fusionner ce
                                qui se fait au Canada avec ce qui se fait en
                                Europe, pour que ces deux approches puissent se
                                compléter et donner de meilleurs résultats.
                            </span>
                            <span class="block"
                                >La raison pour laquelle nos médecins ont décidé
                                de former la Clinique Idyllium est pour combiner
                                les meilleures approches de l’esthétique du
                                monde, avec bien sûr le travail fait par les
                                esthéticiennes et les options de traitements
                                avancés qui peuvent être offertes seulement par
                                les médecins.
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <CustomSeparator />

            <div class="grid grid-cols-1 lg:grid-cols-2 h-full">
                <div class="grid grid-cols-1 md:grid-cols-2 h-full gap-4">
                    <div class="flex flex-row justify-center">
                        <ImageBackground src={vitalie} alt="" />
                    </div>

                    <div class="flex flex-col justify-center p-3 text-center">
                        <h2 class="uppercase py-5">Dr Vitalie Sirbu</h2>
                        <p class="text-muted-foreground">
                            <span>Médecin de famille </span>
                            <span class="block">Phlébologue </span>
                        </p>
                        <div class="flex items-center justify-center py-8">
                            <Button href="#" text="Voir la biographie" />
                        </div>
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 h-full gap-4">
                    <div
                        class="flex flex-row justify-center md:order-1 lg:order-none"
                    >
                        <ImageBackground src={tatiana} alt="Dr Tatiana Sirbu" />
                    </div>

                    <div class="flex flex-col justify-center p-3 text-center">
                        <h2 class="uppercase py-5">Dr Tatiana Sirbu</h2>
                        <p class="text-muted-foreground">
                            <span>Médecin de famille </span>
                        </p>
                        <div class="flex items-center justify-center py-8">
                            <Button href="#" text="Voir la biographie" />
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 w-full mt-16 gap-4"
            >
                <Image
                    src={education1}
                    alt="education1"
                    loading="eager"
                    class="mx-auto"
                />
                <Image
                    src={education2}
                    alt="education2"
                    loading="eager"
                    class="mx-auto"
                />
                <Image
                    src={education3}
                    alt="education3"
                    loading="eager"
                    class="mx-auto"
                />
                <Image
                    src={education4}
                    alt="education4"
                    loading="eager"
                    class="mx-auto"
                />
                <Image
                    src={education5}
                    alt="education5"
                    loading="eager"
                    class="mx-auto"
                />
                <Image
                    src={education6}
                    alt="education6"
                    loading="eager"
                    class="mx-auto"
                />
            </div>
        </div>
    </main>
</Layout>
